# Ignore Meson's build directory
/build/
/src/results/

# Ignore IDE/editor files
.geany/
*.geany
.vscode/

# Ignore compiled outputs (though they should be in builddir)
*.exe
*.o
*.so
*.dll
*.h.gch

# Ignore personal config files
*.ini
